---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="about" description="about sam thomas." heading="about">
  <p>
    i'm welsh, based in bristol, and have been working as a full-stack software
    engineer since 2024.
  </p>
  <p>
    i graduated from the university of bristol with first-class honours in
    computer science.
  </p>
  <p>
    outside of work, i'm into resistance training and nutrition, and a keen
    follower of rugby, football, f1, and mma. i also have a working knowledge of
    lager, cider, and rum of the spiced variety.
  </p>
</BaseLayout>
