---
import BaseLayout from "../layouts/BaseLayout.astro";
import { site } from "../site.config";
---

<BaseLayout
  title="sam thomas - software engineer"
  description="sam thomas is a software engineer based in the uk."
  heading="sam thomas"
>
  <p>software engineer based in the uk.</p>

  <ul>
    <li><a href="/about">about me</a> - the autobiography (short version)</li>
    <li>
      <a href="/projects">projects</a> - what i've been working on
    </li>
    <li>
      <a href="/contact">contact</a> - say hello
    </li>
  </ul>
</BaseLayout>
