---
import BaseLayout from "../layouts/BaseLayout.astro";
import { site } from "../site.config";
---

<BaseLayout
  title="Projects"
  description="Projects by Sam Thomas."
  heading="Projects"
>
  <p>Nothing to show off yet, but I'm working on something.</p>

  <ul>
    <li>
      <a href={site.github}>GitHub</a> - check out my code
    </li>
  </ul>
</BaseLayout>
