---
import BaseLayout from "../layouts/BaseLayout.astro";
import { site } from "../site.config";
---

<BaseLayout
  title="Projects"
  description="Things Sam Thomas has been working on."
  heading="Projects"
>
  <p>A couple of things I've been working on.</p>

  <ul>
    <li>
      <a href={`${site.github}/personal-website`}>samthomas.dev</a> - this website
    </li>
    <li>
      <a href={`${site.github}/first-things`}>first-things</a> - a new way to manage
      tasks
    </li>
  </ul>
</BaseLayout>
