---
import BaseLayout from "../layouts/BaseLayout.astro";
import { site } from "../site.config";
---

<BaseLayout
  title="projects"
  description="projects by sam thomas."
  heading="projects"
>
  <p>nothing to show off yet, but i'm working on something cool.</p>

  <ul>
    <li>
      <a href={site.github}>github</a> - check out my code
    </li>
  </ul>
</BaseLayout>
