---

---

<header class="flex justify-end">
  <nav class="flex flex-wrap gap-x-6">
    <a href="/" class="nav-link">Home</a>
    <a href="/writing" class="nav-link">Writing</a>
    <a href="/uses" class="nav-link">Uses</a>
    <a href="/projects" class="nav-link">Projects</a>
    <a href="/contact" class="nav-link">Contact</a>
  </nav>
</header>