---
import ContentLayout from "../../layouts/ContentLayout.astro";
import { PAGE_DESCRIPTIONS } from "../../data/site";
---

<ContentLayout heading="Projects" description={PAGE_DESCRIPTIONS.projects}>
  <section class="mt-12">
    <p>Coming soon.</p>
  </section>
</ContentLayout>